<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input label="Email" labelPlacement="floating" placeholder="Escribe tu Email" type="email" id="email" [(ngModel)]="roveverpassword.email" name="email" #email="ngModel" email required> </ion-input>
        <p class="error" *ngIf="email.errors?.['email']">Escribe un email valido</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
