<ion-content :fullscreen="true">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="../../../assets/icon/favicon.png" />
  </ion-avatar>
  <form (ngSubmit)="login()" #form="ngForm">
    <ion-item>
      <ion-label position="floating"></ion-label>
        <ion-input label="Email" labelPlacement="floating" placeholder="Escribe tu Email" type="email" id="email" [(ngModel)]="LoginFormulario.email" name="email" #email="ngModel" email required> </ion-input>
        <p class="error" *ngIf="email.errors?.['email']">Escribe un email valido</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
        <ion-input label="Contraseña" labelPlacement="floating" placeholder="Escribe tu Contraseña" type="password" id="password" [(ngModel)]="LoginFormulario.password" name="password" #password="ngModel" password required> </ion-input>
        <p class="error" *ngIf="password.errors?.['password']">Contraseña invalida</p>
    </ion-item>
    <ion-button type="submit" expand="block" value="Enviar" [disabled]="!isValidForm(form)">
      Iniciar Sesion
    </ion-button>
  </form>
  <ion-text class="ion-text-center">
    <h6>¿No Tienes cuenta?</h6>
  </ion-text>
  <ion-text class="ion-text-center color"  [routerLink]="['/signup']">
    <h6>Crear Cuenta</h6>
  </ion-text>
</ion-content>