<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title >Detalle de orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-list *ngIf="orders">
    <ion-item *ngFor="let order of orders">
      <ion-avatar aria-hidden="true" slot="start">
        <img [src]="order.food.img" alt="{{ order.food.name }}" />
      </ion-avatar>
      <ion-label>{{ order.food.name }}</ion-label>
      <ion-label color="primary">${{ order.food.price }} pesos</ion-label>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desea agregar propina:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="../../../assets/icon/favicon.png" />
            </ion-avatar>
          </ion-thumbnail>
          <p>Monto sugerido 10%</p>
        </ion-item>
        <ion-item>
          <p>Monto sugerido: ${{ getPropinaSugerida() }} pesos </p>
        </ion-item>
        <ion-item>
          <ion-input label="Propina" type="number" placeholder="1000" placeholder="Ingresa monto de propina" [(ngModel)]="propinaIngresada"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-label>Total de productos</ion-label>
      <ion-label>${{ getTotal() }} pesos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Iva</ion-label>
      <ion-label>${{ getIva() }} pesos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Propina</ion-label>
      <ion-label>${{ getPropina() }} pesos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="success">Total a Pagar</ion-label>
      <ion-label color="success">${{ getTotalAPagar() }} pesos</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="abrirActionSheet()">Pagar</ion-button>
</ion-content>
