<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title class="ion-text-center">
          Perfil de Ususario
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content :fullscreen="true">
  <ion-card class="ion-activatable" >
    <ion-card-content>
      <ion-list class="border" lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-thumbnail>
          <ion-list lines="none" *ngIf="user">
            <ion-label> {{user.name}} </ion-label>
            <ion-label> {{user.lastName}} </ion-label>
            <ion-label> {{user.mail}} </ion-label>
            {{ user.verified ? 'Usuario verificado' : 'Usuario no verificado' }}
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <div class="button-container">
    <ion-button fill="outline">
      <ion-icon name="person-circle-outline" aria-hidden="true"></ion-icon>
    </ion-button>
    <ion-button fill="outline">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-button>
    <ion-button fill="outline">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button fill="outline" (click)="onLogoutClick()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>