ion-avatar {
    margin: 0 auto !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.icon-image {
    margin-left: 60px;
    height: 52px;
    margin-left: 10px;
}

.border {
    border-style: none !important;
}

ion-button {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}