<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ productDetails.food.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionRefresh)="doRefresh($event)">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="custom-ion-card">
    <ion-img [src]="productDetails.food.img" alt="{{ productDetails.food.name }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ productDetails.food.name }}</ion-card-title>
      <ion-card-subtitle>{{ productDetails.food.desc }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precio: ${{ productDetails.food.price }} pesos
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Receta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="productDetails.recipe && productDetails.recipe.length > 0; else noRecipe">
        <ion-grid>
          <ion-row>
            <ion-col>Nombre</ion-col>
            <ion-col>Cantidad</ion-col>
            <ion-col>Proceso</ion-col>
          </ion-row>
        </ion-grid>
        <ion-item *ngFor="let ingredient of productDetails.recipe" >
          <ion-label>{{ ingredient.ingredient.name }}</ion-label>
          <ion-label>{{ ingredient.amount }} {{ getUnitName(ingredient.ingredient.unit) }} </ion-label> 
          <ion-label>{{ ingredient.process.name }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ng-template #noRecipe>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>No hay receta disponible</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
  <ion-button expand="full" (click)="agregarAlCarrito(productDetails.food)">Añadir al carrito</ion-button>
</ion-content>

