<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tu orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (ionRefresh)="doRefresh($event)">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="orders">
    <ion-card-content>
      <ion-list *ngFor="let order of orders">
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="order.food.img" alt="{{ order.food.name }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ order.food.name }}</h2>
            <p>Comentario: {{ order.desc }}</p>
            <ion-chip [color]="getStatusInfo(order.status).color">{{ getStatusInfo(order.status).name }}</ion-chip>
            <!-- <ion-chip color="primary">{{ getStatusName(order.status) }}</ion-chip> -->
            <!-- <ion-chip color="primary">{{ order.status }}</ion-chip> -->
            <p>Precio: ${{ order.food.price }} pesos</p>
          </ion-label>
        </ion-item>
        <!-- <ion-item *ngFor="let order of orders">
          <ion-chip [color]="getStatusInfo(order.status).color">{{ getStatusInfo(order.status).name }}</ion-chip>
          <ion-chip color="primary">{{ getStatusName(order.status) }}</ion-chip>
        </ion-item> -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="pay()" [disabled]="!allOrdersDelivered()" [class.success]="allOrdersDelivered()">
        <ion-icon name="bag-check-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="help()" >
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
