<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Bienvenido,
          <ion-text *ngIf="user" color="primary" >
            {{user.name}}
            <ion-text>{{user.lastName}}</ion-text>
          </ion-text>
      </ion-title>
      <ion-img class="img" src="../../../assets/icon/favicon.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true">
  <ion-card>
    <ion-card-content>
      <ion-list class="border" lines="none">
        <ion-item>
          <ion-thumbnail slot="center">
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-list lines="none">Escanea <ion-text class="color" [routerLink]="['/clientes/'+ token +'/qr']"> Aqui</ion-text> El codigo qr a la entrada del
            restaurant 
          </ion-list>
          <ion-icon color="primary" name="qr-code-outline" slot="end" ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list class="border" lines="none">
        <ion-item >
          <ion-list lines="none">Revisa <ion-text class="color" [routerLink]="['/clientes/'+ token +'/tab2']"> Aqui</ion-text> Nuestro Menu
          </ion-list>
          <ion-icon color="primary" name="receipt-outline" slot="end" ></ion-icon>          
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card class="ion-activatable">
    <ion-img></ion-img>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-title class="ion-text-center color">Espacio de Publicidad</ion-title>
</ion-content>