<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Bienvenido,
          <ion-text *ngIf="user" color="primary" >
            {{user.name}}
            <ion-text>{{user.lastName}}</ion-text>
          </ion-text>
      </ion-title>
      <ion-img class="img" src="../../../assets/icon/favicon.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content :fullscreen="true" (ionRefresh)="doRefresh($event)">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-list class="border" lines="none">
        <ion-item>
          <ion-thumbnail slot="center">
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-list lines="none">Escanea <ion-text color="primary" [routerLink]="['/clientes/'+ token +'/qr']"> Aqui</ion-text> El codigo qr a la entrada del
            restaurant 
          </ion-list>
          <ion-icon color="primary" name="qr-code-outline" slot="end" ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list class="border" lines="none">
        <ion-item >
          <ion-list lines="none">Revisa <ion-text color="primary" [routerLink]="['/clientes/'+ token +'/tab2']"> Aqui</ion-text> Nuestro Menu
          </ion-list>
          <ion-icon color="primary" name="receipt-outline" slot="end" ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <!-- <swiper-container (slidechange)="swiperSlideChange($event)" [loop]="true" [pagination]="true">
    <swiper-slide *ngFor="let foodType of foodTypes">
      <ion-card (click)="navigateToSegment(foodType._id)">
        <ion-img [src]="foodType.img" alt="{{ foodType.name }}" style="height: 270px; border-radius: 1rem !important;"></ion-img>
      </ion-card>
    </swiper-slide>
  </swiper-container> -->
  <ion-card class="card ion-activatable">
    <img alt="chefcito" src="../../../assets/img/card.png" />
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card *ngIf="orders && orders.length > 0">
    <div class="logo-container">
      <img class="logo" alt="Logo" src="../../../assets/icon/favicon.png" />
    </div>
    <ion-card-header>
      <ion-card-title>Productos Ordenados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let groupedOrder of groupOrdersByFoodName(orders)">
          <ion-thumbnail slot="start">
            <img [src]="groupedOrder[0].food.img" alt="{{ groupedOrder[0].food.name }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ groupedOrder[0].food.name }}</h2>
            <p>Comentario: {{ groupedOrder[0].desc }}</p>
            <ion-chip [color]="getStatusInfo(groupedOrder[0].status).color">{{ getStatusInfo(groupedOrder[0].status).name }}</ion-chip>
            <p>Cantidad: {{ calculateTotalQuantity(groupedOrder) }}</p>
            <p>Precio total: ${{ calculateTotalPrice(groupedOrder) }} pesos</p>
          </ion-label>
          <ion-icon slot="end" name="arrow-forward-circle-outline" [color]="getStatusInfo(groupedOrder[0].status).color" [routerLink]="['/clientes/'+ token +'/foodmodal'+'/order']"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>