/* Estilos para el contenedor */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.tarjetas {
    display: flex;
}

.tarjeta {
    width: 100px;
    height: 60px;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: girarTarjetas 4s infinite linear;
}

.tarjeta.visa {
    background-image: url('../../../assets/icon/favicon.png');
    width: 200px;
    height: 200px;
}

@keyframes girarTarjetas {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}